[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible.git
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "tmux/plugins/vim-tmux-navigator"]
	path = tmux/plugins/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = git@github.com:w0rp/ale.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/lightline"]
	path = vim/bundle/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = git@github.com:tomasr/molokai.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/php"]
	path = vim/bundle/php
	url = git@github.com:StanAngeloff/php.vim.git
[submodule "vim/bundle/tern_for_vim"]
	path = vim/bundle/tern_for_vim
	url = git@github.com:ternjs/tern_for_vim.git
[submodule "vim/bundle/vim-colorschemes"]
	path = vim/bundle/vim-colorschemes
	url = git@github.com:upsuper/vim-colorschemes.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/vim-import-js"]
	path = vim/bundle/vim-import-js
	url = git@github.com:Galooshi/vim-import-js.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "vim/bundle/vim-lion"]
	path = vim/bundle/vim-lion
	url = git@github.com:tommcdo/vim-lion.git
[submodule "vim/bundle/vim-php-namespace"]
	path = vim/bundle/vim-php-namespace
	url = git@github.com:arnaud-lb/vim-php-namespace.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/bundle/vim-styled-jsx"]
	path = vim/bundle/vim-styled-jsx
	url = git@github.com:alampros/vim-styled-jsx.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/vim-visual-star-search"]
	path = vim/bundle/vim-visual-star-search
	url = git@github.com:nelstrom/vim-visual-star-search.git
[submodule "tmux/tmux-powerline"]
	path = tmux/tmux-powerline
	url = git@github.com:erikw/tmux-powerline.git
